/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.container {
    margin-top: 30px;
}

h1 {
    color: #333;
}

h2 {
    margin-top: 20px;
    color: #666;
}

.score,
.round,
.selection-buttons {
    margin: 20px auto;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.score p,
.round p {
    margin-bottom: 10px;
    color: #333;
}

.score-value,
.selection,
.result {
    font-weight: bold;
    padding: 5px;
}

.btn {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
}